*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    /* background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgb(228, 197, 178) 70%, rgb(44, 69, 136) 100%, rgb(18, 35, 49) 100%); */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* background: url('../static/img/BackGroundAlpha.png'); */
    background-size: cover;
}

#options-container {
    position:absolute;
    top: calc(100% - 60px);
    left: calc(100% - 180px);
    text-align: center;
    padding-top: 13px;
    width: min-content;
    height: 50px;
}

.options-button {
    background-color: rgba(255,255,255,0.8);
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: black 1px solid;
    border-radius: 15px;
    width: 150px;
    z-index: 99
}

.options-button:hover {
    background-color: rgba(200,200,200,0.5);
}

#showDetails-button {
    position:absolute;
    top: 20px;
    left: calc(100% - 140px);
    background-color: #eb0029;
    color: white;
    padding: 10px 15px 10px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: black 1px solid;
    border-radius: 15px;
}

#showDetails-button:hover {
    background-color: white;
    color: #eb0029
}

#gitHub-img {
    margin-top: 5px;
    width: 50px
}

#groupsVisibility_container {
    position:absolute;
    top: 50px;
    left: calc(100% - 180px);
    text-align: left;
    background-color: rgba(255,255,255,0.8);
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: black 1px solid;
    border-radius: 15px;
    width: 127px;
}

#tooltip-container {
    position:absolute;
    width: min-content;
    height: 20px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif
    /* visibility: hidden; */
}

.tooltip-hidden {
     visibility: hidden;
}

.tooltip-visible {
    visibility: visible;
}


.mainTitle {
    position:absolute;
    background-color:#eb0029;
    width: 300px;
    color: white;
    border: black 1px solid;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left:calc(50vw - 150px)
}

.section {
    background-color: rgba(255,255,255,0.9);
    border: black 1px solid;
    border-radius: 5px;
    margin-top: 8px
}

.section-left {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 250px;
}

.section-right {
    position: absolute;
    top: 50px;
    left: calc(100vw - 280px);
    width: 250px;
}

.section-title {
    padding: 3px 5px 3px 5px;
    color: white;
    background-color: #eb0029;
}

.row {
    /* display: flex; */
    font-size: 0.9em;
    padding: 4px;
    text-align: left;
}

.row > td:nth-child(2) {
    background-color: green;
    border: 1px solid black;
    color: white;
    font-size: 0.7em;
    text-align: right;
    padding-right: 4px
}

.row > td:nth-child(3) {
    text-align: center;
}


.row > div {
    padding-right: 10px
}

.invisible {
    visibility: hidden
}

.visible {
    visibility: visible
}

#landing-gear-info {
    top: 10px;
    left: 5px;
    position: absolute;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
}

#main-rotor-info {
    top: 10px;
    left: 5px;
    position: absolute;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
}

#tail-rotor-info {
    top: 10px;
    left: 5px;
    position: absolute;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
}

#nose-info {
    top: 10px;
    left: 5px;
    position: absolute;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
}

#upper-deck-info {
    top: 10px;
    left: 5px;
    position: absolute;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
}

/* #tooltip-container {
    position:absolute;
    width: 250px;
    height: 80px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid black;
    border-radius: 10px;
    visibility: visible;
} */




